{% extends "base.html.twig" %}


{% block body %}
    <div class="wrapper">
        <div class="content-block fixed info-block" style="bottom: 0">
            <div class="content-block-inner">
                <div class="message">
                    <div class="icon">
                        <i class="fa fa-remove red"></i>
                    </div>
                    <div class="info">
                        Ой, что-то сломалось, ошибка номер {{ status_code }}
                    </div>
                    <hr>
                    <div>
                        мы уже в курсе и работаем над решением проблемы
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}