{% extends "base.html.twig" %}
{% form_theme form 'form/bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="wrapper">
        <div class="content-block fixed info-block" style="bottom: 0">
            <div class="content-block-inner">
                <div class="message">
                    <div class="info">
                        {{ form_start(form) }}
                        <small>{{ form_label(form.email) }}</small>
                        <p style="margin-top: 0.5em">
                        {{ form_widget(form.email) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}