/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
.idea
/src/AppBundle/DataFixtures/прайс монтаж электро.xls
/app/config/docker-parameters.yml
/web/css/
/web/js/
/servers.yml
/app/sqlite.db.cache
/web/images/uploads/
/web/uploads/
/web/media/
/web/assetic/
