<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name=description content="">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ asset('styles/main.css') }}">
    {% endblock %}
</head>
<body>


{#<div class="wrapper">#}
{#<div id="content">#}
{#<div class="description">#}
{#<div class="short-description">#}
{#Качественно и в установленный срок проведем работы по мелкому и капитальному ремонту помещений#}
{#</div>#}
{#<div class="full-description">#}
{#Все хотят жить в комфортных условиях и бедный и богатый, мы даем эту возможность каждому. Сделаем#}
{#ремонтные работы на высоком уровне не смотря на Ваше материальное положение. Подберем идеальный для Вас#}
{#вариант работ, чтобы Вы остались довольны. Так же наш мастер выполнит любые мелкие работы (оплата#}
{#почасовая). Приемлемые цены, порядочный подход к договоренностям, за качество отвечаем.#}
{#</div>#}
{#<!--<a href="" class="calculate">рассчитать</a>-->#}
{#</div>#}

{#</div>#}
{#<div class="portfolio">#}
{#<div class="items">#}
{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}

{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}

{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}
{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}
{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}
{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}
{#<div class="item">#}
{#<div style="text-align: center">#}
{#<img src="images/image1_400px.jpg" alt="">#}
{#</div>#}
{#<div class="info">#}
{#<div class="title">Установка видеонаблюдения</div>#}
{#<!--<div class="description">В данной работе мы кстанавили 2 камеры</div>-->#}
{#</div>#}
{#</div>#}
{#</div>#}

{#</div>#}

{#<div id="bottom-menu">#}
{#<ul>#}
{#<!--<li><a href="#">описание</a></li>-->#}
{#<!--<li><a href="#">фото</a></li>-->#}
{#<!--<li><a href="#">оставить заявку</a></li>-->#}
{#</ul>#}
{#</div>#}
{#</div>#}

<div id="menu">
</div>

{% block body %}{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('app/menu.react.js') }}"></script>
    <script type="text/babel">
        ReactDOM.render(
                <MenuSection url="{{ path("api_menu") }}"/>,
            document.getElementById("menu")
        )
    </script>
{% endblock %}

</body>
</html>
