$color: white;
$menu-color: #f0c200;
$menu-width: 320px;
$menu-width-left: 40px;

$width-xsmall: 420px;
$width-small: 500px;
$width-medium: 768px;
$width-big: 990px;
$width-sbig: 1150px;
$width-xbig: 1440px;