@import "base_varaibles";

.order-process {
  float: right;
  .item {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
    float: left;
    background-color: $menu-color;
    text-align: center;
    padding: 12px;
    font-size: 50px;
  }
  .item-divider {
    float: left;
    width: 30px;
    height: 100px;
    position: relative;
    .item-divider-inner {
      background-color: $menu-color;
      position: absolute;
      top: 50%;
      width: 100%;
      height: 4px;
    }
  }

}

.place-order {
  text-align: center;
  h1 {
    margin: 0;
  }
  .spec {
    font-size: 0.85em;
    color: darken($menu-color, 20);
    @media (max-width: $width-xsmall) {
      display: none;
    }
  }
  text-decoration: none;
  float: right;
  padding: 1.5em;
  background-color: $menu-color;
  border-radius: 8px;
  box-shadow: 0 0 4px silver;

  @media (max-width: $width-big) {
    padding: 1em;
    width: 100%;
    clear: both;
    margin-top: 0.5em;
  }

  @media (max-width: $width-xsmall) {
    padding: 0.5em;
    h1 {
      font-size: 1.75em;
    }
  }

  &:hover {
    text-decoration: none;
  }

  &:hover {
    background-color: mix(red, $menu-color, 25);
  }
  //margin: 1em;
}

.order-success {
  .content-block-inner {
    height: 100%;
    position: relative;

    .message {
      width: 95%;
      position: absolute;
      top: 50%;
      text-align: center;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);


      hr {
        margin: 0.25em;
      }
      .icon {
        font-size: 7em;
        @media (max-width: $width-medium) {
          font-size: 5em;
        }
        color: mix(#54d81a, $menu-color, 50);
      }
      .info {
        font-size: 2em;
        @media (max-width: $width-medium) {
          font-size: 1.5em;
        }
      }
    }
  }

}