@import url(../assets/vendor/font-awesome/css/font-awesome.css);
body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #f0c200; }

html {
  width: 100%;
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

a {
  color: #f0c200;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    color: #f39b00; }

.light {
  font-weight: 400; }

.navbar-custom {
  min-height: inherit;
  background-color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
  padding: 0.5em 0;
  border-bottom: none;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out; }
  .navbar-custom .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white; }
    .navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
      outline: none; }
  .navbar-custom .navbar-brand {
    font-weight: 700; }
    .navbar-custom .navbar-brand:focus {
      outline: none; }
  .navbar-custom a {
    color: black; }
    .navbar-custom a:hover {
      color: black;
      background-color: #f0c200; }
  .navbar-custom .navbar-main {
    overflow: hidden; }
    .navbar-custom .navbar-main a {
      font-size: 1.15em;
      display: inline-block;
      white-space: nowrap;
      margin-right: 1em;
      padding-bottom: 0.25em; }
      .navbar-custom .navbar-main a:last-child {
        margin-right: 0; }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  @media (min-width: 768px) {
    .navbar-custom {
      background-color: rgba(255, 255, 255, 0);
      padding: 0.75em 0;
      text-align: right; }
      .navbar-custom a {
        color: white; } }

.intro {
  display: table;
  width: 100%;
  height: 100%;
  padding: 60px 0;
  text-align: center;
  color: white;
  background: url(../images/camera-1944039.jpg) no-repeat bottom center scroll;
  background-color: silver;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }
  .intro .intro-body {
    display: table-cell;
    vertical-align: middle; }
    .intro .intro-body .brand-heading {
      color: white;
      font-size: 40px;
      text-shadow: 4px 4px silver; }
      .intro .intro-body .brand-heading .icon {
        background-color: rgba(0, 0, 0, 0.5);
        border: 2px solid white;
        box-shadow: 0 0 4px white;
        width: 60px;
        height: 60px;
        padding: 5px;
        margin-top: -10px;
        border-radius: 50%;
        margin-right: 10px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .intro .intro-body .brand-heading .icon:hover {
          box-shadow: 0 0 8px white; }
    .intro .intro-body .intro-text a {
      font-size: 24px;
      background-color: white;
      margin-bottom: 0.5em;
      display: inline-block;
      white-space: nowrap;
      color: black;
      box-shadow: 0 0 4px white;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      padding: 0.5em 1em;
      border-radius: 1em; }
      .intro .intro-body .intro-text a:hover {
        box-shadow: 0 0 4px #f0c200;
        background-color: #f0c200; }
  @media (min-width: 768px) {
    .intro {
      padding: 0; }
      .intro .intro-body .brand-heading {
        font-size: 100px; }
        .intro .intro-body .brand-heading .icon {
          width: 80px;
          height: 80px;
          padding: 5px;
          margin-top: -10px; } }

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1); }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -moz-transform: scale(1);
    transform: scale(1); } }
.content-section {
  padding-top: 100px; }

.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover; }

#map {
  width: 100%;
  height: 200px;
  margin-top: 100px; }

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 0; }

.btn-default {
  border: 1px solid #f0c200;
  color: #f0c200;
  background-color: transparent; }
  .btn-default:hover, .btn-default:focus {
    border: 1px solid #f0c200;
    outline: none;
    color: black;
    background-color: #f0c200; }

ul.banner-social-buttons {
  margin-top: 0; }
  @media (max-width: 1199px) {
    ul.banner-social-buttons {
      margin-top: 15px; } }
  @media (max-width: 767px) {
    ul.banner-social-buttons li {
      display: block;
      margin-bottom: 20px;
      padding: 0; }
      ul.banner-social-buttons li:last-child {
        margin-bottom: 0; } }

.footer-copyright {
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 0;
  font-size: 1.25em;
  padding: 1em; }

::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2); }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2); }

/*# sourceMappingURL=grayscale.css.map */
