@import "variables";
@import "../assets/vendor/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: #e6e6e6;
}

.red {
  color: red;
}

html, body {
  height: 100%;
}



.content-block {
  padding: 0 1em 1em 1em;
  font-size: 1.15em;
  position: relative;
  @media (max-width: $width-medium) {
    padding: 0;
  }
  .content-block-inner {
    background-color: lighten($color, 20);
    box-shadow: 0 0 8px darken($color, 20);
    padding: 1em;
    @media (max-width: $width-medium) {
      padding: 0.5em;
    }
  }
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    margin-right: $menu-width-left;
    @media (min-width: $width-medium) {
      margin-right: $menu-width;
    }
  }
}

.fake-block {
  visibility: hidden;
}

#bottom-menu {
  position: fixed;
  bottom: 0;
  font-size: 2em;
  padding-bottom: 1em;
  ul {
    list-style: none;
    li {
      display: block;
      float: left;
      margin-right: 0.5em;
      a {
        background-color: $menu-color;
        color: $color;
        border-radius: 0.5em;
        display: block;
        padding: 0.25em 1em;
      }
    }
  }
}

.wrapper {
  margin-right: $menu-width-left;
  @media (min-width: $width-medium) {
    margin-right: $menu-width;
  }
  //padding: 1em;
  position: relative;

  .loading-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;

    @media (max-width: $width-medium) {
      right: $menu-width-left;
      margin: 0;
    }

    right: $menu-width;
    z-index: 200;
    background-color: white;
    margin: 0 1em;

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      text-align: center;

      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
  }
}

a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.nav-pills li a:hover {
  background-color: lighten($nav-pills-active-link-hover-bg, 10);
}

.header-fixed {
  position: fixed;
  top: 0px;
  display: none;
  background-color: white;
}

.btn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}

.btn-success:hover {
  background-color: $menu-color;
}