.portfolio-image {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 4px silver;
  width: 12.5%;
  height: 180px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-align: center; }
  @media (max-width: 1150px) {
    .portfolio-image {
      width: 19%;
      margin: 0.5%; } }
  @media (max-width: 768px) {
    .portfolio-image {
      width: 24%;
      margin: 0.5%; } }
  @media (max-width: 500px) {
    .portfolio-image {
      width: 32%;
      margin: 0.5%; } }
  @media (max-width: 420px) {
    .portfolio-image {
      width: 48%;
      margin: 0.6%; } }
  .portfolio-image .labels {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5em;
    margin-top: 0.5em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 1;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .portfolio-image .labels select, .portfolio-image .labels .select2 {
      width: 90%; }
  .portfolio-image .label {
    display: inline-block;
    padding: .4em .5em;
    font-size: 0.6em;
    border-radius: 0; }
    .portfolio-image .label.label-primary {
      background-color: #707070; }
  .portfolio-image img {
    max-width: 100%; }
  .portfolio-image:hover {
    box-shadow: 0 0 6px #828282; }
    .portfolio-image:hover .labels {
      opacity: 0.25; }
  .portfolio-image.editable {
    height: 200px; }
    .portfolio-image.editable .btn-delete {
      position: absolute;
      top: -6px;
      right: -6px;
      border-radius: 20px; }
    .portfolio-image.editable select {
      margin-top: 0.5em; }
    .portfolio-image.editable .labels {
      padding: 0.5em; }
    .portfolio-image.editable:hover .labels {
      opacity: 1; }

.image-preview-enter-active, .image-preview-leave-active {
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s; }

.image-preview-enter, .image-preview-leave-to {
  opacity: 0; }

.image-preview-leave-active img {
  display: none; }

.image-preview, .image-edit {
  position: fixed;
  left: 0;
  right: 320px;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.55);
  z-index: 120; }
  @media (max-width: 768px) {
    .image-preview, .image-edit {
      right: 0; } }

.image-preview {
  cursor: pointer; }
  .image-preview img {
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 50%;
    top: 50%;
    max-height: 95%;
    max-width: 95%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

/*# sourceMappingURL=portfolio.css.map */
