@import "base_varaibles";

.portfolio-image {
  float: left;
  padding: 0.5em;
  margin: 0.5em;
  box-shadow: 0 0 4px silver;
  width: 12.5%;

  @media (max-width: $width-sbig) {
    width: 19%;
    margin: 0.5%;
  }

  @media (max-width: $width-medium) {
    width: 24%;
    margin: 0.5%;
  }

  @media (max-width: $width-small) {
    width: 32%;
    margin: 0.5%;
  }

  @media (max-width: $width-xsmall) {
    width: 48%;
    margin: 0.6%;
  }

  height: 250px;
  overflow: hidden;
  position: relative;

  .labels {
    margin-top: 0.5em;
    width: 100%;
  }

  .label {
    font-size: 0.6em;
    border-radius: 0;
    &.label-primary {
      background-color: #707070;
    }
  }

  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0.5em;
  }

  cursor: pointer;

  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;

  text-align: center;
  img {
    max-width: 100%;
  }

  &:hover {
    box-shadow: 0 0 6px #828282;
  }
}

.image-preview-enter-active, .image-preview-leave-active {
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -ms-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
}

.image-preview-enter, .image-preview-leave-to {
  opacity: 0;
}

.image-preview, .image-edit {
  position: fixed;
  left: 0;
  right: $menu-width;

  @media (max-width: $width-medium) {
    right: 0;
  }

  top: 0;
  bottom: 0;
  background-color: rgba(white, 0.55%);
  z-index: 120;

}

.image-preview {
  cursor: pointer;

  img {
    position: absolute;
    left: 50%;
    top: 50%;

    max-height: 95%;
    max-width: 95%;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}