<div class="content-block category-toolbar {{ class }}">
    <div class="content-block-inner">
        <h2>Корзина</h2>
        <div class="basket-description">
            В корзине {{ products|length }} товаров на сумму {{ sum_max }}
        </div>
    </div>
</div>