{% set can_edit = is_granted('ROLE_PORTFOLIO_EDIT') %}
{% if can_edit %}
    <div>
        <portfolio-image
               v-for="(image, index) in images"
               :src_big_thumb="image.src_big_thumb"
               :src_thumb="image.src_thumb"
               :tags="image.tags"
               :all_tags="tags"
               :index="index"
               :update_url="image.update_url"
               :delete_url="image.delete_url"
               @remove="removeImage(index, image)"
               @image="showImage(image.src_big_thumb)"
               @tags-changed="updateTags(arguments[0], arguments[1], image)"
        />
    </div>
{% else %}
    {% for image in images %}
        <div class="portfolio-image"
             @click.prevent="showImage('{{ image.src_big_thumb }}')">
            <img src="{{ image.src_thumb }}"/>
            <div class="labels">
                {% for c in image.categories %}
                    <span class="label label-primary">{{ c.title }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}