{% set can_edit = is_granted('ROLE_PORTFOLIO_EDIT') %}
{% if can_edit %}
    <div>
        <portfolio-image
               v-for="(image, index) in images"
               v-bind:src_big_thumb="image.src_big_thumb"
               v-bind:src_thumb="image.src_thumb"
               v-bind:tags="image.categories"
               v-on:remove="removeImage(index, image)"
        />
    </div>
{% else %}
    {% for image in images %}
        <div class="portfolio-image"
             @click.prevent="showImage('{{ image.src_big_thumb }}')">
            <img src="{{ image.src_thumb }}"/>
            <div class="labels">
                {% for c in image.categories %}
                    <span class="label label-primary">{{ c.title }}</span>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endif %}