{% extends 'web/job.html.twig' %}

{% block title %}
    Корзина - Байкал Форт АйТи
{% endblock %}

{% block description %}Корзина{% endblock %}

{% block loading_message %}
    <h3>наполняю корзину<br>подождите немного</h3>
{% endblock %}

{% block top_container %}
    {% include ":web/partials:basket_info.html.twig" with {'class': 'fake-block'} %}
    {% include ":web/partials:basket_info.html.twig" with {'class': 'fixed'} %}
{% endblock %}

{% block javascripts_controller_init %}
    <script>
        new ProductsController(null, "#products-controller", {{ products | serialize("json") |raw }});
    </script>
{% endblock %}
