{% extends "base.html.twig" %}

{% block body %}


    <div class=""></div>

    <div id="bottom-menu">
        <ul>
            <li><a href="#">описание</a></li>
            <li><a href="#">фото</a></li>
            <li><a href="#">оставить заявку</a></li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}