{% extends "base.html.twig" %}

{% block body %}

    {% for category in menu['menu'] %}
        <div class="index-item">
            {{ category.title }}
        </div>
    {% endfor %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}