{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="description">
            <div class="short-description">
                {{ job.shortDescription }}
            </div>
            <div class="full-description">
                {{ job.description }}
            </div>
        </div>
    </div>

    <ul>
        {% for category in job.productCategories %}
            <li>{{ category.title }}
                <ul>
                    {% for product in category.products %}
                        <li>{{ product.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}

{% endblock %}

