{% extends 'base.html.twig' %}

{% block body %}
    <div id="content">
        <div class="description">
            <div class="short-description">
                {{ job.shortDescription }}
            </div>
            <div class="full-description">
                {{ job.description }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

